<div id="hours">
  <div class="day_hours">
    <div class="leftcol">TUESDAY to FRIDAY:</div>
    <div class="rightcol">
      9 am &ndash; 4 pm<br /><small>(Walk-ins Welcome)</small><br /><br />
      4 &ndash; 6 pm <br /><small>(Appointment Only)</small>
    </div>
  </div>
  
  <div class="day_hours second_div">
    <div class="leftcol">SATURDAY:</div>
    <div class="rightcol">9 am &ndash; 4 pm</div>
  </div>
  
  <div class="day_hours third_div">
    <div class="leftcol">SUNDAY & MONDAY:</div>
    <div class="rightcol">Closed</div>
  </div>
</div>