<!-- Social icons from http://socicon.com/ -->
<div class="social">
  <ul>
    <li><a title="Twitter" href="http://twitter.com/BladesBarber1" target="_blank" class="socicon">a</a></li>
    <li><a title="Facebook" href="https://www.facebook.com/pages/Blades/197149630331029" target="_blank" class="socicon">b</a></li>
    <li><a title="Yelp" href="http://www.yelp.com/biz/blades-barber-and-styling-palo-alto-2" target="_blank" class="socicon">h</a></li>
    <li><a title="Foursquare" href="https://foursquare.com/v/blades/4efa399730f894d86ae64f02" target="_blank" class="socicon">e</a></li>
  </ul>
</div>